.gallery {
  background: url("../../../public/assets/images/phadthai-noodles-one.jpg")
    center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 0;
}

.gallery::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.gallery .section-title h2 {
  color: #fff;
}

.gallery .container {
  position: relative;
}

.gallery .gallery-slider {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .swiper-slide img {
  object-fit: cover;
  border-radius: 3%;
}

@media (min-width: 1024px) {
  #gallery {
    background-attachment: fixed;
  }
}
