#gallery {
  background-color: #000;
}

.gallery .gallery-slider {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .swiper-slide img {
  object-fit: cover;
  border-radius: 5%;
}
