.menu #menu-filters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu #menu-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  margin-bottom: bottom 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  font-family: "Playfair Display", serif;
}

.menu #menu-filters li:hover,
.menu #menu-filters li.filter-active {
  color: seagreen;
}

.menu #menu-filter li:last-child {
  margin-right: 0;
}

.pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; /* Adjust the margin as needed */
}

.pdf button {
  background: seagreen;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.pdf button:hover {
  color: #1a1814;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.pagination button {
  cursor: pointer;
  display: inline-block;
  width: 44px;
  height: 44px;
  font-size: 28px;
  line-height: 1;
  color: seagreen;
  margin: 0 5px; /* Adjust the margin as needed */
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
}

.pagination button.disabled {
  opacity: 0.5; /* You can adjust the opacity to visually indicate a disabled state */
  cursor: not-allowed;
}

.pagination button:hover {
  background: seagreen;
  color: #1a1814;
}

.pagination button:disabled {
  pointer-events: none;
}
