.testimonials .testimonial-card {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .stars {
  color: #d3af71;
  font-size: 25px;
}

.testimonials .testimonial-card .testimonials-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.2);
}

.testimonials .testimonial-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-card h4 {
  font-size: 14px;
  margin: 0 0 0 45px;
  color: rgba(255, 255, 255, 0.6);
}

.testimonials .testimonial-card .quote-icon-left,
.testimonials .testimonial-card .quote-icon-right {
  color: #d3af71;
  font-size: 26px;
}

.testimonials .testimonial-card .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-card .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-card p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #26231d;
  position: relative;
  z-index: 1;
  border-radius: 6px;
}
